* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #F3F3F4;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    
}

.cart-items {
    margin: 15px;
    background-color: #FEFEFE;
}

.heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(205, 205, 205);
    padding: 10px 20px;
    flex-shrink: 1;
    color: grey;
}

.headline {
    font-weight: 700;
    
}

.quantity {
    height: 40px;
    width: 60px;
    padding-left: 10px;
    border: 1px solid rgb(205, 205, 205);
}

.item {
    display: flex;
    border-bottom: 1px solid rgb(205, 205, 205);
    padding: 20px;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.item-heading {
    color: #4BC0A7;
    font-size: 1.2em;
    margin: 8px 0;
}

.item-sec-text {
    font-size: 0.8em;
    margin-bottom: 10px;
    color: rgb(138 138 138);
}

.description-list {
    margin-top: 10px;
}

.description-info {
    font-size: 0.9em;
    font-weight: 300;
    color: grey;
}

.links {
    margin: 10px 0;
    display: flex;
    color: rgb(138 138 138);
}

.photo {
    height: 80px;
    width: 80px;
    background-color: rgb(211, 211, 211);
    flex-shrink: 0;
}

.cart-summary {
    flex-basis: 400px;
    background-color: #FEFEFE;
    align-self: flex-start;
    margin: 15px;
}

.btn {
    flex-shrink: 0;
    padding: 8px 10px;
    border: 1px solid rgb(205, 205, 205);
}

.disclaimer {
    margin-bottom: 10px;
    color: grey;
    font-weight: 300;
    font-size: 0.8em;
}

.checkout {
    background-color: #1AB293;
    color: white;
}

.total-info {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(205, 205, 205);
}

.info-box {
    padding: 20px;
}

.summary-info {
    margin-top: 20px;
}

.summary-total {
    font-size: 0.9em;
    color: grey;
    margin-top: 10px;
}

.summary-value {
    font-size: 2em;
    color: #6C6F70;
    line-height: 40px;
}

.icon {
    display: inline-block;
    margin: 0 1px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.cancel {
    transform: translateX(-5px);
}

.footer {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
}

.cart {
    height: 12px;
}

.link-icon {
    height: 12px;
}

.bin-icon {
    padding-left: 10px;
    border-left: 1px solid rgb(205, 205, 205);
}

.arrow {
    height: 12px;
}

.add-gift {
    padding-right: 10px;
}

@media screen and (max-width:826px) {
    .container {
        flex-direction: column;
    }

    .cart-summary {
        flex-basis: 0;
        align-self: stretch;
    }
}

@media screen and (max-width:505px) {
   .item {
        flex-direction: column;
        align-items: center;
        text-align: center;
   }

   .links {
    justify-content: center;
   }
}